<section name="total">
    <h1>{{ vm.titulo }}</h1>
    <p class="lead">Creación de un nuevo proyecto en AppTuCuenta</p>
</section>
<section name="nuevoProyecto" class="row-fluid">
    <form name="frmProyecto" class="form-horizontal text-left">
        <fieldset>
            <div id="legend">
                <legend class="">Introduce datos para crear un proyecto</legend>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12 col-sm-6">
                    <div class="control-group">
                        <label class="control-label" for="nombre">Nombre</label>
                        <div class="controls">
                            <input name="nombre" class="input" ng-model="vm.nuevoProyecto.nombre" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="presupuesto">Presupuesto</label>
                        <div class="controls">
                            <input type="number" name="presupuesto" class="input" ng-model="vm.nuevoProyecto.presupuesto">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <div class="control-group">
                        <label class="control-label" for="fechaInicio">Fecha Inicio</label>
                        <div class="controls">
                            <input type="date" name="fechaInicio" class="input" ng-model="vm.nuevoProyecto.fechaInicio">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="fechaFin">Fecha Fin</label>
                        <div class="controls">
                            <input type="date" name="fechaFin" class="input" ng-model="vm.nuevoProyecto.fechaFin">
                        </div>
                    </div>
                    <p ng-show="vm.rangoFechasInvalido" >Rango fechas inválido</p>
                </div>
            </div>
            <div class="text-right">
                <button style="margin-top: 20px" type="button" ng-disabled="frmProyecto.$invalid" class="btn btn-lg btn-primary" ng-click="vm.guardarProyecto()">
                    <span>Guardar</span>
                </button>
            </div>
        </fieldset>
    </form>
</section>
