<section class="container">
    <div class="row span12">
        <form class="form-horizontal" action='' method="POST">
            <fieldset>
                <div id="legend">
                    <legend class="">Registro de nuevos usuarios</legend>
                </div>
                <div class="control-group">
                    <!-- email -->
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="email" ng-model="vm.usuario.email" name="email" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" ng-model="vm.usuario.password" name="password" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" ng-click="vm.registro()">Registro</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>