<!DOCTYPE html>
<html lang="es" ng-app="appTuCuenta" ng-controller="ProyectosCtrl as vm">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lista de tus proyectos">
    <meta name="author" content="Alberto Basalo">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>{{ vm.titulo }}</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <section name="total">
        <h1>{{ vm.titulo }}</h1>
        <p class="lead">Lista de tus proyectos</p>
    </section>
    <section name="listaProyectos" class="row-fluid">
        <ul ng-repeat="p in vm.proyectos">
            <li>{{p.nombre}} - {{p.presupuesto}}</li>
        </ul>
    </section>

    <!-- JavaScript References -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script src="../app.js"></script>
    <script src="ProyectosCtrl.js"></script>
    <script src="proyectosFactory.js"></script>
</body>

</html>