<!DOCTYPE html>
<html lang="es" ng-app="appTuCuenta" ng-controller="ProyectosCtrl as vm">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Creación de un nuevo proyecto en AppTuCuenta">
    <meta name="author" content="Alberto Basalo">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>{{ vm.titulo }}</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <section name="total">
        <h1>{{ vm.titulo }}</h1>
        <p class="lead">Creación de un nuevo proyecto en AppTuCuenta</p>
    </section>
    <section name="nuevoProyecto" class="row-fluid">
        <form class="form-horizontal text-left">
            <fieldset>
                <div id="legend">
                    <legend class="">Introduce datos para crear un proyecto</legend>
                </div>
                <div class="row-fluid">
                    <div class="col-xs-12 col-sm-6">
                        <div class="control-group">
                            <label class="control-label" for="nombre">Nombre</label>
                            <div class="controls">
                                <input name="nombre" placeholder="" class="input" ng-model="vm.nuevoProyecto.nombre">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="presupuesto">Presupuesto</label>
                            <div class="controls">
                                <input type="number" name="presupuesto" placeholder="" class="input" ng-model="vm.nuevoProyecto.presupuesto">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="control-group">
                            <label class="control-label" for="fechaInicio">Fecha Inicio</label>
                            <div class="controls">
                                <input type="date" name="fechaInicio" placeholder="" class="input" ng-model="vm.nuevoProyecto.fechaInicio">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="fechaFin">Fecha Fin</label>
                            <div class="controls">
                                <input type="date" name="fechaFin" placeholder="" class="input" ng-model="vm.nuevoProyecto.fechaFin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button style="margin-top: 20px" type="button" class="btn btn-lg btn-primary" ng-click="vm.guardarProyecto()">
                        <span>Guardar</span>
                    </button>
                </div>
            </fieldset>
        </form>
    </section>

    <!-- JavaScript References -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script src="../app.js"></script>
    <script src="ProyectosCtrl.js"></script>
    <script src="proyectosFactory.js"></script>
</body>

</html>