<section name="titulo">
    <cabecera></cabecera>
    <p class="lead">Lista de tus proyectos</p>
</section>
<section name="filtrarProyectos">
    <label class="control-label" for="filtro">Filtrar:</label>
    <input seleccionado type="text" name="filtro" placeholder="qué buscas?" class="input" ng-model="valorBuscado">
    <button type="submit" ng-click="valorCorte=0">Ver todos los proyectos</button>
    <button class="btn-success" ng-click="valorCorte=1000">Sólo proyectos importantes</button>
</section>
<table class="table" name="listaProyectos">
    <thead>
        <tr class="text-center">
            <th>Id</th>
            <th ng-show="vm.noSoyManager">Manager</th>
            <th>Proyecto</th>
            <th ng-show="vm.noSoyCliente">Cliente</th>
            <th>Presupuesto</th>
            <th>Coste</th>
            <th>Estado</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr resaltado class="row-fluid" dir-paginate="p in vm.proyectos | itemsPerPage: 3 | filter:valorBuscado | importantes:valorCorte " total-items="vm.numTotalProyectos" ng-class="vm.claseEstado(p)">
            <td resaltado class="col-sm-1"> <a ng-href="#/proyectos/{{p._id}}">{{p._id | recortarFinal:2}}</a> 
            </td>
            <td ng-show="vm.noSoyManager">{{p.manager}}</td>
            <td>{{p.nombre | recortar}}</a>
            </td>
            <td ng-show="vm.noSoyCliente">{{p.cliente }}</td>
            <td>{{p.presupuesto}} $</td>
            <td>{{p.coste}} $</td>
            <td>{{p.estado}}</td>
            <td>
    <rating max="7" valor="p.rating" solo-lectura="true">
        
            </td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls 
on-page-change="vm.cambiarPagina(newPageNumber)">
</dir-pagination-controls>

