<!DOCTYPE html>
<html lang="es" ng-app="appTuCuenta">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Creación de un nuevo proyecto en AppTuCuenta">
    <meta name="author" content="Alberto Basalo">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>{{ vm.titulo }}</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./_comun/angucomplete.css" rel="stylesheet">
    <link href="_comun/animate.css" rel="stylesheet">
    <link href="_comun/animaciones.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="MenuCtrl as vm">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li ng-repeat="o in opcionesMenu" ng-class="{ active: vm.isActive(o.loc) }">
                        <a href="{{o.ruta}}">{{o.texto}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="" ng-click="vm.logOut()">{{nombre}}</button>
                    </li>
                    <li><a href="#">{{mensaje}}</a>
                    </li </ul>
                    <li>m: {{vm.msg}}</li>
            </div>
        </div>
    </nav>

    <div class="container text-center" style="padding-top:50px;">
        <div ng-view></div>
    </div>

    <pie></pie>
    <!-- JavaScript References -->
    <!-- Angular desde CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-animate.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="http://bouil.github.io/angular-google-chart/ng-google-chart.js"></script>
    <!-- Nuestras propias referencias -->
    <!-- build:js js/total.min.js -->
    <script src="app.js"></script>
    <script src="_comun/rutas.js"></script>
    <script src="_comun/interceptor.js"></script>
    <script src="_comun/filtros.js"></script>
    <script src="_comun/directivas.js"></script>
    <script src="_comun/MenuCtrl.js"></script>
    <script src="_comun/menuFactory.js"></script>
    <script src="_comun/validacionesFactory.js"></script>
    <script src="_comun/angucomplete.js"></script>
    <script src="_comun/dirPagination.js"></script>
    <script src="_comun/itDirectivas/module.js"></script>
    <script src="_comun/itDirectivas/directiva.js"></script>
    <script src="_comun/socketFactory.js"></script>
    <script src="supervisor/CuadromandoCtrl.js"></script>
    <script src="usuarios/UsuariosCtrl.js"></script>
    <script src="usuarios/usuariosFactory.js"></script>
    <script src="usuarios/sesionesFactory.js"></script>
    <script src="inicio/InicioCtrl.js"></script>
    <script src="proyectos/proyectosFactory.js"></script>
    <script src="proyectos/ProyectosCtrl.js"></script>
    <script src="proyectos/ProyectoCtrl.js"></script>
    <!-- endbuild -->


</body>