<section class="container">
    <div class="row span12">
        <form name="frmRegistro" class="form-horizontal"  novalidate>
            <fieldset>
                <div id="legend">
                    <legend class="">Registro de nuevos usuarios</legend>
                </div>
                <div class="control-group">
                    <!-- email -->
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input 
type="email" ng-model="vm.usuario.email" name="email" class="input-xlarge" required>
    <p ng-show="vm.emailInvalido" >No vale gmail</p>
                    </div>
                </div>
                <div class="control-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password"
                               required 
                               ng-minlength="4" ng-maxlength="6"
                               ng-model="vm.usuario.password" name="password" class="input-xlarge">
                        
    <p ng-show="frmRegistro.password.$error.minlength" >Muy corta</p>
    <p ng-show="frmRegistro.password.$error.maxlength" >Muy larga</p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-danger"
        ng-disabled="frmRegistro.$invalid"
        ng-click="vm.registro()">Registro</button>
                    </div>
                </div>
                <a href="/#/usuarios/login">Ya tengo cuenta</a>
            </fieldset>
        </form>
    </div>
</section>