<section name="titulo">
    <cabecera></cabecera>
    <p class="lead">Lista de tus proyectos</p>
</section>
<section name="filtrarProyectos">
    <label class="control-label" for="filtro">Filtrar:</label>
    <input seleccionado type="text" name="filtro" placeholder="qué buscas?" class="input" ng-model="valorBuscado">
    <button type="submit" ng-click="valorCorte=0">Ver todos los proyectos</button>
    <button class="btn-success" ng-click="valorCorte=1000">Sólo proyectos importantes</button>
</section>
<section name="listaProyectos" class="row-fluid">
    <row class="row-fluid h3">
        <span class="col-sm-1"> Id </span>
        <span class="col-sm-2"> Manager </span>
        <span class="col-sm-2"> Proyecto </span>
        <span class="col-sm-2"> Cliente </span>
        <span class="col-sm-2"> Presupuesto </span>
        <span class="col-sm-1"> Coste </span>
        <span class="col-sm-2"> Estado </span>
    </row>
    <row class="row-fluid" ng-repeat="p in vm.proyectos | filter:valorBuscado | importantes:valorCorte " ng-class="vm.claseEstado(p)" >
<!--
        <span resaltado class="col-sm-1"> <a ng-href="#/proyectos/{{p._id}}">{{p._id | recortarFinal:2}}</a> </span>
        <span resaltado class="col-sm-2"> {{p.manager}} </span>
        <span resaltado class="col-sm-2"> {{p.nombre | recortar}}</a> </span>
        <span resaltado class="col-sm-2"> {{p.cliente}} </span>
        <span resaltado class="col-sm-2"> {{p.presupuesto}} $ </span>
        <span resaltado class="col-sm-1"> {{p.coste | rellenar}} $ </span>
        <span resaltado class="col-sm-2"> * {{ p.estado }} </span>
-->
        <fila-proyecto proj="p"></fila-proyecto>
    </row>
</section>

