<section name="total">
    <h1>{{ vm.titulo }}</h1>
    <p class="lead">Estado del proyecto en AppTuCuenta</p>
</section>
<section name="nuevoProyecto" class="row-fluid">
    <form name="frmProyecto" class="form-horizontal text-left">
        <fieldset>
            <div id="legend">
                <legend class="">Estado del proyecto
                    <b>{{vm.proyecto.nombre}}</b>
                </legend>
                <div>Del cliente:
                    <b>{{ vm.proyecto.cliente}}</b>
                </div>
                <div>Presupuestado en:
                    <b>{{ vm.proyecto.presupuesto}}</b>
                </div>
                <div>Para hacer entre el
                    <b>{{ vm.proyecto.fechaInicio}}</b> y el
                    <b>{{ vm.proyecto.fechaFin}}</b>
                </div>
                <div>Administrado por:
                    <b>{{ vm.proyecto.manager}}</b>
                </div>
                <div>Estado actual:
                    <b>{{ vm.proyecto.estado}}</b>
                </div>
                <p></p>
                <div ng-show="vm.activarContratar">Sólo para el mánager:
                    <label class="control-label" for="coste">Coste</label>
                    <input type="number" name="coste" ng-model="vm.proyecto.coste">
                    <button class="btn btn-warning" ng-click="vm.contratarProyecto()">
                        <span>Contratar Proyecto a Proveedor</span>
                    </button>
                </div>
                <p></p>
                <div ng-show="vm.activarValidar">Sólo para el cliente:
                    <button class="btn btn-primary" ng-click="vm.validarProyecto()">
                        <span>Validar Proyecto</span>
                    </button>
                </div>
                <p></p>
                <div ng-show="vm.activarPagar">Sólo para el mánager:
                    <button class="btn btn-success" ng-click="vm.pagarProyecto()">
                        <span>Pagar Proyecto a proveedor</span>
                    </button>
                </div>
        </fieldset>
    </form>
</section>

