<h1 ng-show="vm.listo" >{{vm.numProyectos}}</h1>
<h2 ng-show="vm.listo">Proyectos</h2>

<div ng-show="vm.listo" google-chart chart="vm.chartIngresos" ></div>

<div ng-show="vm.listo" google-chart chart="vm.chartGastos" ></div>

